{% load blog_tags %}
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Featured</h2>
    </div>
    <div class="col-md-6">
        <p>{{ featured_review.title }}</p>
        <p>{{ featured_review.review_text|markdown }}</p>
    </div>
    <div class="col-md-6">
        <img class="img-responsive" src="{{ MEDIA_URL }}{{ featured_review.image }}" alt="">
    </div>
</div>

<hr>

<!-- Call to Action Section -->
<div class="well">
    <div class="row">
        <div class="col-md-8">
            <p>{{ featured_review.featured_text|markdown}}</p>
        </div>
        <div class="col-md-4">
            <a class="btn btn-lg btn-default btn-block btn-success" href="/play/{{ featured_review.slug }}" target="_blank">{{ config.FEATURED_CTA }}</a>
        </div>
    </div>
</div>
<!-- /.row -->