{% load blog_tags %}
<div class="row">
     <div class="col-lg-12">
        <h2 class="page-header">Portfolio Heading</h2>
    </div>
    {% for review in reviews %}
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail image-size">
            <a href="/play/{{ review.slug }}" target="_blank">
                <img src="{{ MEDIA_URL }}{{ review.image }}" alt="">
            </a>
            <div class="caption">
                <h4 class="pull-right"></h4>
                <h4><a href="/play/{{ review.slug }}" target="_blank">{{ review.title }}</a>
                </h4>
                <p>{{ review.meta_description|markdown|truncatewords:15 }}</p>
                <p><a href="{{ review.get_absolute_url }}"><button type="button" class="btn btn-success btn-block">{{ review.title }} Review</button></a></p>
            </div>
            <div class="ratings">
                <p class="pull-right"><!--TODO add number of comments--></p>
                <p>
                    {% for i in review.ratings|get_range %}
                        <span class="glyphicon glyphicon-star"></span>
                    {% endfor %}
                    {% for i in review.ratings|substract|get_range %}
                     <span class="glyphicon glyphicon-star-empty"></span>
                    {% endfor %}
                </p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
