{% load blog_tags %}
<ul class="pagination">
    {% if page.has_previous %}
      <li><a href="?page={{ page.previous_page_number }}">Previous</a></li>
    {% endif %}
    {% for i in page.paginator.num_pages|get_range%}
        <li class="{% if forloop.counter ==  page.number %}active{% endif %}"><a href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
    {% endfor %}
    {% if page.has_next %}
        <li><a href="?page={{ page.next_page_number }}">Next</a></li>
    {% endif %}
</ul>


